            <ol>
                <li>Descrição: %s</li>
                <li>Valor de compra: %s</li>
                <li>Número de tombamento: %s</li>
                <li>Número da nota fiscal: %s</li>
                <li>Especificação: %s</li>
                <li>Garantia: %s</li>
                <li>Marca: %s</li>
                <li>Grupo material: %s</li>
                <li>Sala: %s</li>
                <li>Departamento: %s</li>
                <li>Data de cadastro: %s</li>
                <li>Data de Aquisição: %s</li>
                <li>Situação: %s</li>
            </ol>