            <table class="relatorio">
                <thead>
                    <tr>
                        <th colspan="3" style="background-color: #cae4e4; border: 0;">%s → %s</th>
                        <th style="background-color: #cae4e4; border: 0; text-align: right;">(%s)</th>
                    </tr>
                </thead>
            </table>
            <table class="relatorio">
                <thead>
                    <tr>
                        <th>Evento</th>
                        <th>Data</th>
                        <th>Responsável</th>
                        <th>Justificativa</th>
                    </tr>
                </thead>
                <tbody>
                    %s
                </tbody>
            </table>
            <br>
