<table class="tabela">
                <thead>
                    <tr>
                        <th colspan="3" style="background-color: #BBCDCD;">%s → %s</th>
                        <th style="background-color: #BBCDCD;">(%s) </th>
                    </tr>
                    <tr>
                        <th>Evento</th>
                        <th>Data</th>
                        <th>Responsável</th>
                        <th>Justificativa</th>
                    </tr>
                </thead>
                <tbody>
                    %s
                </tbody>
            </table>